HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### MVN ###
mvnw.cmd
mvnw
.mvn/wrapper/maven-wrapper.properties